[submodule "IFJ"]
	path = IFJ
	url = git@github.com:tumido/IFJ-Group-Project.git
[submodule "ISJ"]
	path = ISJ
	url = git@bitbucket.org:xauder/isj-projekt.git
[submodule "ICP"]
	path = ICP
	url = git@github.com:tumido/ICP-Project.git
[submodule "IMS"]
	path = IMS
	url = git@github.com:tumido/IMS-petri-net.git
